:root {
    --basic-white: #FFFFFF;
    --basic-red: #F2785C;
    --basic-green: #0D606F;
    --basic-opacity: 0.7;
 }

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    background-color: var(--basic-white);
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

button {
    border: none;
    border-radius: 10px;
    padding: 10px 34px;

    font-family: 'Red Hat Text';
    color: var(--basic-white);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    background: var(--basic-green);
}

.section-title {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-red);

    margin: 0;
    margin-bottom: 40px;
}

/* HEADER */

.header {
    background-color: var(--basic-red);
    opacity: var(--basic-opacity);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding: 25px 120px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    color: var(--basic-white);

    position: relative;
    z-index: 10;
}

.header a {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
}

.header-name {
    font-family: 'Magra', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;

    margin-left: 3px;
}

.nav-list {
    list-style: none;
    margin: 0;
    margin-left: -33px;
    padding: 0;

    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    margin-right: 42px;
}

.nav-item:last-of-type {
    margin-right: 0;
}

.user-enter {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);

    font-size: 16px;
    line-height: 21px;

    padding: 10px 30px;
}

/* MAIN */

/* SECTION PREVIEW */

.preview {
    margin-top: -90px;
    padding: 122px 428px 255px 120px;

    background-image: url(../images/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    color: var(--basic-white);
    font-family: 'Aleo', serif;
    font-weight: 700;
}

.preview-title {
    font-size: 80px;
    line-height: 96px;

    margin: 0;
    margin-bottom: 32px;

}

.preview-text {
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 46px;
}

.preview-search {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;

    padding: 18px;

    display: flex;
    justify-content: space-between;
}

.preview-input {
    padding: 14px 23px;
    background: none;
    border: none;

    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: var(--basic-red);
}

.preview-button {
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

/* STEPS */

.steps {
    padding: 80px 131px;
}

.steps-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 17px;
}

.step-item {
    width: 317px;

    display: flex;
    flex-direction: column;
            /* justify-content: center; */
    align-items: center;
}

.step-item:first-of-type {
    margin-left: -35px;
    margin-right: 35px;
}

.step-link {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--basic-red);
    border-radius: 16px;
}

.step-text {
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--basic-green);

    margin: 0;
}